body {
        padding-top: 56px;
}

.sticky-offset {
        top: 60px;
}

#sidebar-container{
        background-image: url(../img/sidebar-bg.png);
}

.search_bar {
        flex-grow: 1;
}


 #body-row{
        height: 100%;
 }


