body {
        padding-top: 56px;
}

.sticky-offset {
        top: 60px;
}

#sidebar-container{
        background-image: url(../img/sidebar-bg.png);
        height: 100%;
        color: white;
        text-decoration: solid;
        background-color: #0A2238;
}

main{
        height: calc(100vh - 60px); 
        position: fixed; 
        bottom: 0; 
        width: 100%;
}

.search_bar {
        flex-grow: 1;
}


 #body-row{
        height: 100%;
 }

 #container-bool{
        background-color: #1B72E8;
        min-height: 120px;
        width: 100%;
        
 }

 #cards{
        flex-wrap: wrap;
 }



